.bg-teal{
    background-color: #4aaaa5;
}

.breathing-room {
    margin-top: 20px;
}

.color-teal {
    color: #4aaaa5;
}

.norm-pic {
    height: 200px;
}

.placed {
    position: relative;
}

.smallbanner {
    position: absolute;
    bottom: 40px;
}

.taller {
    height: 50px;
}

.text-white {
    color: white;
}

body {
    background-image: url(../image/circles-light.png)
}