.bg-teal {
    background-color: #4aaaa5;
}

.border-b {
    border-bottom: 2px solid #cccccc;
}

a {
    color: #777777;
}

.breathing-room {
    margin-top: 20px;
}

.color-teal {
    color: #4aaaa5;
}

.norm-pic {
    height: 200px;
}

.placed {
    position: relative;
    height: 392.33px;
    margin-bottom: 40px;
}

.smallbanner {
    position: absolute;
    bottom: 40px;
}

.taller {
    height: 50px;
}

.text-white {
    color: white;
}

body {
    background-image: url(../image/circles-light.png)
}

footer {
    border-top: 3px solid #4aaaa5;
    background-color: #666666;
}